APP_ENV=production
PORT=3000
APP_URL=https://<app.seudominio.com>
DATABASE_URL=postgres://<user>:<password>@<host>:5432/<database>
REDIS_URL=redis://<host>:6379/0
OBJECT_STORAGE_ENDPOINT=https://<s3-endpoint>
OBJECT_STORAGE_BUCKET=<bucket-name>
OBJECT_STORAGE_REGION=<region>
